.app-container {
  height: 100vh;
}

.link {
  text-decoration: none;
  color: gray;
}

li:not(:first-child)::before {
  content: " | ";
  color: gainsboro;
}

.li-button:hover {
  color: red;
}

.link-active {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
}

.book-container {
  height: 60vh;
  overflow-y: scroll;
}

.spinner {
  position: absolute;
  margin: auto;
  right: 50%;
  bottom: 50%;
  font-size: 50%;
}
